{% extends "base.html" %}
{% block content_main %}
    <div class="jumbotron">
      <div class="container">
        <h1>University Quiz</h1>
        <p>Disclaimer: I have no fucking plan about frontend development and near to no knowledge about backend development. ;)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start the quiz!</a></p>
      </div>
    </div>
{% endblock %}
{% block content_sub %}
{% endblock %}
